<nav>
  <div class="menu">
    <a href="/">
      <img src="/assets/img/cat.png" alt="">
    </a>

    <ul class="content-navbar">
      <li class="nav-item">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login">
        Login</button>
        {{!-- <a class="nav-link active" aria-current="page" href="/login">Login</a> --}}

      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#register">
        Register</button>
        {{!-- <a class="nav-link" href="/register" data-bs-toggle="modal" data-bs-target="#register">Register</a> --}}
      </li>
    </ul>
  </div>
</nav>


{{!-- MODAL login --}}

<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Ex.: Joao@joao.com">
          
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" name="password" id="password" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




{{!-- MODAL register --}}
<div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input type="name" id="name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" id="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirmar senha</label>
            <input type="password" id="passwordconfirm" name="passwordconfirm" class="form-control" id="exampleInputPassword1">
          </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
        
      </div>
    </div>
  </div>
</div>
